CONFIG_CMDLINE=""
CONFIG_DEFAULT_INIT="/init"
CONFIG_PANIC_TIMEOUT=5

# CONFIG_ATAGS is not set
CONFIG_ARM_APPENDED_DTB=y
CONFIG_ARM_ATAG_DTB_COMPAT=y
# CONFIG_ARM_ATAG_DTB_COMPAT_CMDLINE_FROM_BOOTLOADER is not set
CONFIG_ARM_ATAG_DTB_COMPAT_CMDLINE_EXTEND=y

# CONFIG_BIG_LITTLE is not set
CONFIG_NR_CPUS=2

# CONFIG_DRM_LIMA is not set

CONFIG_INPUT_TOUCHSCREEN=y
# CONFIG_TOUCHSCREEN_MMS114 is not set
CONFIG_TOUCHSCREEN_ATMEL_MXT=y

# CONFIG_INPUT_KEYBOARD is not set

# CONFIG_INPUT_MOUSE is not set

# CONFIG_ETHERNET is not set

# CONFIG_BT is not set

# CONFIG_NFC is not set

# CONFIG_SND_DRIVERS is not set
# CONFIG_SND_ARM is not set
# CONFIG_SND_SOC_SAMSUNG_SMDK_WM8994 is not set
# CONFIG_SND_SOC_SMDK_WM8994_PCM is not set
# CONFIG_SND_SOC_SNOW is not set
# CONFIG_SND_SOC_ODROID is not set
# CONFIG_SND_SOC_ARNDALE is not set
CONFIG_SND_SOC_SAMSUNG_MIDAS_WM1811=y
# CONFIG_SND_SIMPLE_CARD is not set

# CONFIG_CHROME_PLATFORMS is not set

CONFIG_EXPERT=y
CONFIG_TRIM_UNUSED_KSYMS=y
